body{
	width: 90%;
	margin: 0 auto;
}


.iconos img{
	height: 30px;
	width: 30px;
	float: right;
	margin-top: 50px;
}

.logo img{
	height: 80px;
	width: 80px;
}

.barra-superior, .iconos, .logo{
	min-height: 80px;
	background-color: #45464e;
}

.barra-navegacion{
	width: 100%;
	background-color: black;
}

.img-post{
	padding: 10px;
}

@media (min-width: 1px) and (max-width: 992px){
	.busqueda{
		display: none !important;
	}
	.contenedor-principal{
		background-color: #f47e4c !important;
	}
}


@media (min-width: 992px){
	.img-post{
		margin-top: 20%;
	}
}

.icon{
	margin-left: 40%;
	margin-top: 20%;
	font-size: 35px;

}

.icon-search{
	font-size: 20px;
	margin-left: 35%;
}

.buscador, .boton-biog{
	width: 90%;
	border-radius: 10px;
}

.fila-nav{
	background-color: black;
}

.adicional, .busqueda, .contenedor-principal{
	margin-top: 2%;
}

.contenedor-principal{
	background-color: #f47e4c;
}
